{% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

<!-- Jquery confirm lib link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<link rel="stylesheet" href="{% static 'css/sb-admin.min.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/personal.css' %}">

<link href="https://fonts.googleapis.com/css?family=Abel|Barlow+Semi+Condensed|Indie+Flower|Open+Sans+Condensed:300|Risque|Roboto|Yanone+Kaffeesatz" rel="stylesheet">
{#        {% bootstrap_css %}#}
