{% load widget_tweaks %}
<form id="sale-create-form" method="post" action="{{ action_url }}">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">{{ modal_title }}</h5>
        </div>
        <div class="modal-body">
            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
  </div>

</form>
{% block script %}
    <script>
        var loadProducts = function () {
          var thisControl = $(this);
          var id = parseInt(thisControl.val());
          var productControl = $('#id_product');
          if (isNaN(id)){productControl.html(" ")}
          else {
               $.get("/sale/get-products/"+id, function (data) {
                   console.log(data);
                   if (data.products.length > 0){   // !!!check for length of options instead
                        productControl.html(" ");
                        productControl.append("<option value selected>------</option>");
                       $.each(data.products, function (index, value) {
                            productControl.append("<option value="+value.id+">"+value.name+"</option>")
                       })
                   }
               });
          }
      };
        var calculateAmount = function () {
            var useRate = this; // wrapping this in a jquery obj wont work here. dunno why
            var units = $('#id_units');
            var amounts = $('#id_amount_paid');
            var product = $('#id_product');
            if(useRate.checked){
                // get product fixed price
                $.get('/sale/get-product-price/'+parseInt(product.val()), function (data) {
                    console.log(data);
{#                    amounts.attr('disabled', 'disabled');#}
                    amounts.val(data.rate * units.val());
                }, 'json');


            }else{
                amounts.removeAttr('disabled');
            }
        };
{#        $('#id_business').change(loadProducts);#}
        $('#id_default_rate').change(calculateAmount);
        $('#id_units').change(function () {
            console.log('changed units')
        })
    </script>
{% endblock %}