{% if sales.has_other_pages %}
    <ul class="pagination">
        {% if sales.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ sales.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled" >
                <a class="page-link"  href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
        {% endif %}
         {% for i in sales.paginator.page_range %}
            {% if sales.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
             {% endif %}
        {% endfor %}
        {% if sales.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ sales.next_page_number }}"
                       aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% else %}
             <li class="page-item disabled" >
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}