{#<div class="col-xs-12 col-lg-4">#}
{% load static %}
<div id="biz-dets" class="card" style="width: 20rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 28rem;">
  <img class="card-img-top img-responsive" src="{% if instance.image %}{{ instance.image.url }}{% else %}{% static 'img/no-biz-img.jpg' %}{% endif %}" height="270" alt="Card image cap">
  <div class="card-body text-center mb-2" style="height: 80px;">
    <h3 class="card-title" style="font-family: 'Abel', sans-serif;">{{ instance.name }}</h3>
    <p class="card-text text-muted mb-5" style="font-family: 'Roboto', sans-serif;">{{ instance.description|truncatewords:12}}</p>

  </div>
<div class="card-footer text-center">
{#    <div></div>#}
    <button type="button" data-url="{% url 'sales:create' %}" class="btn btn-outline-primary btn-md sale-create-action">Add Record</button>
    <a href="{% url 'sales:home' slug=instance.slug %}" class="btn btn-outline-success btn-md">View Records</a>
  </div>
</div>
{#</div>#}